.row {
  margin-bottom: 20px;
}
.calendar tr td {
  div {
    background: #eee;
    padding: 5px;
    text-align: center;
    font-style: italic;
    border-radius: 5px;
    cursor: pointer;

    &.holiday {
      background: #5b9ce5;
    }
  }
}